package components

templ Nav() {
	<nav class="container">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/statistics">Stats</a>
			</li>
			<li>
				<button type="button">Add</button>
			</li>
			<li>
				<a href="/accounts">Accounts</a>
			</li>
			<li>
				<a href="/settings">Settings</a>
			</li>
		</ul>
		<dialog id="dialog-edit"></dialog>
	</nav>
}
